---
KNOX:
  SERVICEWIDE:
    knox_gateway_database_host: {{ databases.KNOX.host }}
    knox_gateway_database_port: {{ databases.KNOX.port }}
    knox_gateway_database_type: {{ databases.KNOX.type | format_database_type }}
    knox_gateway_database_name: {{ databases.KNOX.name }}
    knox_gateway_database_user: {{ databases.KNOX.user }}
    knox_gateway_database_password: {{ databases.KNOX.password }}
DATAVIZ:
  SERVICEWIDE:
    METASTORE_DB_HOST: {{ databases.DATAVIZ.host }}
    METASTORE_DB_PORT: {{ databases.DATAVIZ.port }}
    METADATA_STORE: {{ databases.DATAVIZ.type | format_database_type }}
    METASTORE_DB_NAME: {{ databases.DATAVIZ.name }}
    METASTORE_DB_USER: {{ databases.DATAVIZ.user }}
    METASTORE_DB_PASSWORD: {{ databases.DATAVIZ.password }}
